# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Build / production
dist/
build/

# Env files
.env

# OS files
.DS_Store
Thumbs.db

# IDE / editor files
.vscode/
.idea/

# Optional: npm / package-lock
package-lock.json
yarn.lock
